// Proyectos

.diseno {
    &01 {
        animation-name: animation-left;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 2s;
    }
    &02 {
        animation-name: animation-right;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 2s;
    }
    &03 {
        animation-name: animation-left;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 3s;
    }
    &04 {
        animation-name: animation-right;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 3s;
    }
}


.planificacion {
    &01 {
    }
    &02 {
    }
    &03 {
    }
    &04 {
    }
}

.construcciones {
    &01 {
    }
    &02 {
    }
    &03 {
    }
    &04 {
    }
}

.control-calidad {
    &01 {
    }
    &02 {
    }
    &03 {
    }
    &04 {
    }
}

// Keyframes

@keyframes animation-left {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animation-right {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
