/*** Nosotros FLEX***/
.nosotros-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 30px;
}

.mision-left {
  @extend .us-left;

}

.mision-right {
  @include us-right;
}

.vision-left {
  @extend .us-left;
}

.vision-right {
  @include us-right;
}

.valores-left {
  @extend .us-left;
}

.valores-right {
  @include us-right;
}
