/*** Nosotros FLEX***/
.nosotros-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 30px;
}

.nosotros-title {
  color: $nosotros-box-text-color;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.nosotros-content {
  color: $nosotros-box-text-color;
  text-align: justify;
  margin-bottom: 45px;
  overflow: hidden;
    transition: 0.6s;
    &:hover{
      transform: scale(1.05);
    }
}

.nosotros-box-head {
  color: $nosotros-box-text-color;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
}


.mision-left {
  @extend .us-left;
  @extend .nosotros-box;
}

.mision-right {
  @include us-right;
}

.vision-left {
  @extend .us-left;
  @extend .nosotros-box;
}

.vision-right {
  @include us-right;
}

.valores-left {
  @extend .us-left;
  @extend .nosotros-box;
}

.valores-right {
  @include us-right;
}
