/*** Inicio Proyectos ***/

.project-title {
    color: $project-box-text-color;
    background-color: #655455;
    margin-bottom: 15px;
}

.project-content {
    color: $project-box-text-color;
    background-color: #655455;
}

.diseno {
    @extend .project-text;
    &01 {
        @extend .project-box;
        transform: translateX(-50%);
    }
    &02 {
        @extend .project-box;
        transform: translateX(50%);
    }
    &03 {
        @extend .project-box;
        transform: translateX(-50%);
    }
    &04 {
        @extend .project-box;
        transform: translateX(50%);
    }
}


.planificacion {
    @extend .project-text;
    &01 {
        @extend .project-box;
    }
    &02 {
        @extend .project-box;
    }
    &03 {
        @extend .project-box;
    }
    &04 {
        @extend .project-box;
    }
}

.construcciones {
    @extend .project-text;
    &01 {
        @extend .project-box;
    }
    &02 {
        @extend .project-box;
    }
    &03 {
        @extend .project-box;
    }
    &04 {
        @extend .project-box;
    }
}

.control-calidad {
    @extend .project-text;
    &01 {
        @extend .project-box;
    }
    &02 {
        @extend .project-box;
    }
    &03 {
        @extend .project-box;
    }
    &04 {
        @extend .project-box;
    }
}