// Animate


.animate__animated.animate__bounce {
    --animate-duration: 10s;
  }

// Extend

.us-left {
    width: 500px;
    padding: 10px;
}

.project-box {
    width: 450px;
    height: auto;
    background-color: $project-box-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
}

.project-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nosotros-box {
    width: 450px;
    height: auto;
    background-color: $nosotros-box-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

// MIXIN
//index
@mixin display-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

@mixin flex-pilar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 320px;
}

//nosotros
@mixin us-right {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

//desarrollos
@mixin galery-box{
    width: 350px;
    height: 450px;
    background-size: cover;
    padding: 10px 0 0;
    border-radius: 10px;
    @include box-galery-shadow;
}

//generales
@mixin box-shadow {
    box-shadow: 1px 2px 5px 2px grey;
}

@mixin box-galery-shadow {
    box-shadow: 1px 2px 5px 2px #a8847c;
}