//variables

//color
$main-color: #fde8e9;
$title-color: #77554e;

//background
$body-bgr-color: linear-gradient(to bottom, #d1bbbb, hsl(355, 25%, 82%), #e6cfd3, #f0d9df, #e5cfd9);
$index-pilares-bgr-color: rgba(216, 183, 196, 0.937);

//index
$box-gradient: rgba(145, 109, 101, 0.925),rgba(180, 149, 142, 0.925);

//project
$project-box-color:#a8847c;
$project-box-text-color: $main-color;
$project-h2-color: #77554e;

//desarrollos
$desarrollos-box-bgr-color: hsl(10, 21%, 39% / 1);
$desarrollos-box-bgr-gradient: hsl(10, 21%, 39% / 0.66);
$sub-color: #96beb6;
$desarrollos-content-bgr-color: rgba(109, 80, 75, 0.82);
$desarrollos-content-bgr-color-op: rgba(109, 80, 75, 0.01);

//nosotros
$nosotros-box-color: #a8847c;
$nosotros-box-text-color: $main-color;
$nosotros-box-bg-color:#8b7678;

