//variables

//color
$main-color: #fde8e9;

//background
$body-bgr-color: linear-gradient(to bottom, #d1bbbb, #dcc5c7, #e6cfd3, #f0d9df, #e5cfd9);
$index-pilares-bgr-color: rgba(216, 183, 196, 0.937);

//index
$box-gradient: rgba(145, 109, 101, 0.925),rgba(180, 149, 142, 0.925);

//project
$project-box-color: #007671;
$project-box-text-color: #c0fcf7;

//